/*  || 'Page' page */
/*  -------------- */

@use "../abstracts/variables/colors" as c;
@use "../abstracts/variables/fonts" as f;
@use "../abstracts/variables/application" as app;

.page {

    &__container {
        width: 100%;
        padding: 2.5em 1em;
        margin-right: auto;
        margin-left: auto;
        max-width: app.$max-width; 
    }

    &__section-title {
        margin-bottom: 1em;
        font-size: app.$section-title-fs;
        font-weight: f.$normal;
    }

    &__section-subtitle {
        margin-bottom: 2.5em;
        font-size: f.$small;
        letter-spacing: 0.5rem;
    }
}