/*  || Blog Card Component         */
/*  ------------------------------ */

@use "../abstracts/variables/fonts" as f;
@use "../abstracts/variables/colors" as c;

.blog-card {

    &__image {
        width: 100%;
    }

    &__wrapper {
        padding: 1em;
        padding-bottom: 2.4em;
        border: 1px solid c.$light-grey;
    }

    &__title {
        margin-bottom: 1em;
        font-size: f.$small;
        font-weight: f.$bold;
        color: c.$dark-grey;
    }

    &__subtitle {
        margin-bottom: 0.7em;
        font-size: f.$xsmall;
        font-weight: f.$normal;
        font-family: f.$body;
        color: c.$medium-grey;
    }

    &__body {
        font-size: f.$small;
        font-family: f.$body;
        line-height: 1.4;
        color: c.$medium-grey;

    }
}