/*  || Btn Component */
/*  ------------------------- */

@use "../abstracts/variables/colors" as c;

.btn {
    padding: 0.7em 1.5em;
    border: 0;
    border-radius: 20px;
    display: inline-block;
    background-color: c.$primary;
    color: c.$white;
    text-decoration: none;

    &:hover {
        background-color: lighten(c.$primary, 7);
    }
}
