/*  || Contact-info Component */
/*  ------------------------- */

@use "../abstracts/variables" as var;

.contact-info {
    display: grid;
    row-gap: 1em;
    grid-template-columns: 7em 1fr;

    &__name {
        opacity: var.$light-opacity;
        font-weight: var.$font-weight-bold;
    }
}