/*  || Contact Form Component */
/*  ------------------------- */

@use "../abstracts/variables/fonts" as f;
@use "../abstracts/variables/colors" as c;

.contact-form {

    font-size: f.$medium;
    font-weight: f.$normal;

    &__input-text {
        width: 100%;
        height: 5rem;
        border: 1px solid c.$white;
        border-radius: 5px;
        margin-bottom: 1.5em;
        background-color: c.$primary;
        color: c.$white;
        display: block;

        &::placeholder {
            padding-left: 1em;;
            font-size: f.$medium;
            color: c.$white;
        }
    }

    &__input-textarea {
        width: 100%;
        height: 15rem;
        padding-top: 1em;
        padding-left: 1em;
        border: 1px solid c.$white;
        border-radius: 5px;
        margin-bottom: 1.5em;
        background-color: c.$primary;
        font-family: f.$body;
        font-size: f.$medium;
        color: c.$white;
        display: block;
    }

    &__submit-btn {
        width: 100%;
        outline: none;
        margin-bottom: 3em;
        display: block;
    }

}