/*  || Contact-info Component */
/*  ------------------------- */

@use "../abstracts/variables/colors" as c;
@use "../abstracts/variables/fonts" as f;

.contact-info {
    display: grid;
    grid-template-columns: 7em 1fr;
    row-gap: 1em;

    &__name {
        opacity: c.$light-opacity;
        font-weight: f.$bold;
    }
}