/*  ||  Menu Component */
/*  ------------------ */

@use "../abstracts/variables/fonts" as f;
@use "../abstracts/variables/colors" as c;

.mobile-menu {

    position: fixed;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background-color: rgba(0,0,0,.8);
    opacity: 1;
    overflow-x: hidden;
    z-index: 1;
    transition-property: all;
    transition-duration: 250ms;
    transition-timing-function: ease;
  
    &__close-btn {
        position: absolute;
        top: 37px;
        left: 18px;
        padding: 0;
        margin: 0;
        font-size: 3rem;
        color: c.$white;
        text-decoration: none;
    }

    &__list {
        padding-top: 5em;
        list-style-type: none;
    }

    &__item {
        margin-bottom: 2em;
        text-align: center;
    }

    &__item-link {
        color: c.$white;
        text-decoration: none;
        transition-duration: 250ms;
    }
}