/*  || Timeline Component    */
/*  ------------------------ */

@use "../abstracts/variables/fonts" as f;
@use "../abstracts/variables/colors" as c;


$_dot-size: 1.2rem;

.timeline {
    display: flex;
    flex-direction: column;
    list-style-type: none;

    &__item {
        padding: 0 0 3em 2em;
        border-left: 2px solid c.$primary;

        &:last-child {
            padding-bottom: 0;
        }
    }
    
    &__dot {
        width: $_dot-size;
        height: $_dot-size;
        padding: 0;
        border: 2px c.$primary solid;
        border-radius: 50%;
        margin: 0;
        background-color: c.$white;
        position: absolute;
        left: 12px;
    }

    &__site {
        margin-bottom: 0.5em;
        font-family: f.$heading;
        font-size: f.$small;
        font-weight: f.$bold;
        color: c.$primary;
    }

    &__year {
        margin-bottom: 0.7em;
        font-family: f.$heading;
        font-size: f.$small; 
        font-weight: f.$normal;
    }

    &__detail {
        font-family: f.$body;
        font-size: f.$medium;
        line-height: 1.7;  
    }
}