/**
 * _typography partial
 */
 @use "../abstracts/variables/fonts" as f;
 @use "../abstracts/variables/colors" as c;

 html {
     font-size: 62.5%;
 }
 body {
    color: c.$text;
    font-family: f.$heading;
    font-size: f.$medium;
  }