/*  || Footer Section Layout */
/*  ------------------------ */

@use "../abstracts/variables/fonts" as f;
@use "../abstracts/variables/colors" as c;


.footer {
    background-color: c.$primary;
    color: c.$white;

    &__wrapper {
        display: flex;
        flex-flow: column nowrap;
    }

    &__contact-wrapper {
    }

    &__contact-info {
        margin-bottom: 2em;
    }

    &__social-icon-list {
        margin-bottom: 2.5em;
        list-style-type: none;
    }

    &__social-icon-item {
        margin-bottom: 1.5em;
    }

    &__social-icon-link {
        font-family: f.$body;
        font-size: f.$medium;
        font-weight: f.$normal;
        color: c.$white;
    }

    &__subtitle {
        margin-bottom: 1em;
    }

    &__contact-form {
        margin-bottom: 3.3em;
    }

    &__contact-form-btn {
        width: 100%;
        padding-top: 1em;
        padding-bottom: 1em;
        background-color: darken(c.$primary, 7);
        font-size: f.$medium;
    }

    &__copyright {
        text-align: center;
        opacity: c.$light-opacity;
    }
}


