/*  || Introduction Section Layout */
/*  ------------------------------ */

@use "../abstracts/variables/fonts" as f;

.introduction {

    &__body {
        font-family: f.$body;
        font-size: f.$medium;
        font-weight: f.$normal;
        line-height: 1.7;
    }

    &__btn {
        padding: 1em;
        margin-top: 2em;
        font-family: f.$body;
        font-size: f.$small;
        font-weight: f.$bold;
    }

    &__btn i {
        margin-right: 0.5em;
    }
}