/*  || MAin Menu Layout */
/*  ------------------------ */

@use "../abstracts/variables/fonts" as f;
@use "../abstracts/variables/colors" as c;


.main-menu {

    position: fixed;
    width: 100%;
    transition-property: background-color;
    transition-duration: 100ms;
    transition-timing-function: ease;
    transition-delay: 0s;

    &__open-btn {
        width: inherit;
        font-size: f.$xlarge;
        color: c.$white;
        text-decoration: none;
        display: block;

        &--active {
            color: c.$primary;
            cursor: pointer;
        }
    }

    &--active{
        box-shadow: 0 5px 8px 0 rgba(0,0,0,.14);
        background-color: c.$white;
        color: c.$primary;
    }

}
