/*  || Resume Section Layout */
/*  ------------------------ */

@use "../abstracts/variables" as var;

.resume {

    &__body {
        line-height: 1.7;
        font-family: var.$body-font-family;
        font-size: var.$font-size-large;
        font-weight: var.$font-weight-normal;
    }
}