/*  || Resume Section Layout */
/*  ------------------------ */

@use "../abstracts/variables/fonts" as f;

.resume {

    &__body {
        font-family: f.$body;
        font-size: f.$large;
        font-weight: f.$normal;
        line-height: 1.7;
    }
}