/*  || Skills Section Layout */
/*  ------------------------ */

@use "../abstracts/variables/fonts" as f;

.skills {

    &__progress-bar-list {
        display: flex;
        flex-direction: column;
    }

    &__progress-bar {
        margin-bottom: 1.7em;
        font-size: f.$small;
    }
}