/*  || Testimonials Section Layout */
/*  ------------------------------ */

@use "../abstracts/variables/fonts" as f;
@use "../abstracts/variables/colors" as c;

$_circle_diameter: 8rem;

.testimonials {

    background-color: c.$primary;
    color: c.$white;

    &__header {
        position: relative;
        margin-bottom: 1em;
        display: flex;
        justify-content: center;
        align-items: flex-start;
    }

    &__circle {
        position: absolute;
        top: -($_circle_diameter / 2);
        width: $_circle_diameter;
        height: $_circle_diameter;
        border-radius: 50%;
        background-color: c.$white;
        display: flex;
        justify-content: center;
        align-items: center;
    }
        
    &__quotes {
        padding-top: 1.7em;
        color: c.$primary;
    }

    &__wrapper {
        margin-bottom: 1em;
        display: flex;
        align-items: center;
    }

    &__title {
        margin-bottom: 1em;
        font-size: f.$large;
        font-weight: f.$normal;
    }

    &__subtitle {
        padding-bottom: 1.2em;
        border-bottom: 1px solid yellow;
        margin-bottom: 1.5em;
        font-family: f.$body;
        font-size: f.$medium;
        font-weight: f.$normal;
        font-style: italic;
        opacity: c.$light-opacity;
    }

    &__carousel {
        padding-left: 1em;
        padding-right: 1em;
    }

    &__page-left {
        font-size: f.$xlarge;
        font-weight: f.$bold;
        opacity: c.$light-opacity;
    }

    &__body {
        font-size: f.$large;
        font-weight: f.$normal;
        font-family: f.$body;
        line-height: 1.7;
    }

    &__page-right {
        font-size: f.$xlarge;
        font-weight: f.$bold;
        opacity: c.$light-opacity;
    }

    &__dots-wrapper {
        display: flex;
        justify-content: center;
    }

    &__dot {
        width: 8px;
        height: 8px;
        border: 1px solid c.$white;
        border-radius: 50%;
        margin-right: 5px;

        &--filled {
            background-color: c.$white;
        }
    }

}