// Color variables
$primary-color: #6D56C1;
$secondary-color: #707070;
$text-color: #707070;
$black: #000;
$light-grey: #e9ecef;
$white: #FFF;
$light-opacity: 0.4;

// Container sizing
$max-width: 100%;

// Font stack 
$heading-font-family: 'Roboto Mono', monospace;
$body-font-family: 'Roboto', sans-serif;

// Font sizes 
$font-size-largest: 4.4rem;
$font-size-xlarge: 3.6rem;
$font-size-large: 1.8rem;
$font-size-medium: 1.6rem;
$font-size-small: 1.4rem;
$font-size-xsmall: 1.2rem;

// icon sizes
$icon-size-medium: 2.4rem;

// Font weights
$font-weight-normal: 400;
$font-weight-bold: 600;

// Page Variables 
$section-title-font-size: 3.6rem;











