/*  || Colour-related constants and variables */
/*  ----------------------------------------- */

// Colour Constants
$black: #000;
$white: #FFF;
$light-grey: #e9ecef;
$medium-grey: #999999;
$dark-grey: #555555;


// Application Colours
$primary: #6D56C1;
$secondary: #707070;
$text: #707070;
$light-opacity: .4;